In [56]:
#Importando os pacotes das bibliotecas
import pandas as pd
import numpy as np

In [57]:
#Carregando a base de dados
data = pd.read_pickle("base_submission.pkl")
data.head()

,codigo_vaga,ultimo_salario_candidato,ultimo_cargo_candidato,area_interesse_candidato,nivel_candidato,formacao_candidato,cidade_candidato,nivel_ingles_candidato,nivel_espanhol_candidato,mediana_teste_ingles_candidato,mediana_teste_espanhol_candidato,mediana_teste_logica_candidato,mediana_teste_outros_candidato,cargo_vaga,nivel_vaga,formacao_vaga,cidade_vaga
0,-5432475023076753918,9100.0,GLOBAL TRAINEE,ENGENHARIA DE PRODUCAO,PLENO,FORMACAO SUPERIOR COMPLETA,SAO PAULO,4.0,0.0,7.00,0.00,7.335,7.0,None,JUNIOR/TRAINEE,FORMACAO SUPERIOR (CURSANDO),PARANAGUA
1,-5432475023076753918,7653.0,TRADE,COMPRAS,SENIOR,POS-GRADUACAO NO NIVEL ESPECIALIZACAO,RIO DE JANEIRO,4.0,3.0,8.00,7.50,6.670,7.0,None,JUNIOR/TRAINEE,FORMACAO SUPERIOR (CURSANDO),PARANAGUA
2,-5432475023076753918,1978.0,CONTROLADOR PRODUCAO,ENGENHARIA MECANICA,TECNICO,FORMACAO SUPERIOR COMPLETA,CACAPAVA,3.0,0.0,4.75,6.75,7.340,7.4,None,JUNIOR/TRAINEE,FORMACAO SUPERIOR (CURSANDO),PARANAGUA
3,-5432475023076753918,0.0,CONSULTOR EMPRESARIAL,SUPRIMENTOS,SENIOR,FORMACAO SUPERIOR COMPLETA,CURITIBA,4.0,1.0,8.00,0.00,7.500,8.5,None,JUNIOR/TRAINEE,FORMACAO SUPERIOR (CURSANDO),PARANAGUA
4,-5432475023076753918,2100.0,INFORMATICA REDE TECNICO,TELECOMUNICACOES,TECNICO,FORMACAO SUPERIOR COMPLETA,FEIRA DE SANTANA,1.0,0.0,3.01,3.25,3.330,4.0,None,JUNIOR/TRAINEE,FORMACAO SUPERIOR (CURSANDO),PARANAGUA

In [58]:
#Obter as dimens√µes do dataframe
data.shape

(26579, 17)

In [59]:
#Imprime informa√ß√µes sobre um DataFrame, incluindo o tipo de √≠ndice e colunas, valores n√£o nulos e uso de mem√≥ria.
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26579 entries, 0 to 47105
Data columns (total 17 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   codigo_vaga                       26579 non-null  int64
 1   ultimo_salario_candidato          26579 non-null  float64
 2   ultimo_cargo_candidato            26579 non-null  object
 3   area_interesse_candidato          21168 non-null  object
 4   nivel_candidato                   25908 non-null  object
 5   formacao_candidato                26579 non-null  object
 6   cidade_candidato                  26574 non-null  object
 7   nivel_ingles_candidato            26579 non-null  float64
 8   nivel_espanhol_candidato          26579 non-null  float64
 9   mediana_teste_ingles_candidato    26579 non-null  float64
 10  mediana_teste_espanhol_candidato  26579 non-null  float64
 11  mediana_teste_logica_candidato    26579 non-null  float64
 12  mediana_teste_outros_candidato    26579 non-null  float64
 13  cargo_vaga                        9050 non-null   object
 14  nivel_vaga                        26579 non-null  object
 15  formacao_vaga                     26579 non-null  object
 16  cidade_vaga                       5588 non-null   object
dtypes: float64(7), int64(1), object(9)
memory usage: 3.7+ MB

In [60]:
#Divis√£o entre previsores e classes
X_data = data.iloc[:, 7:13]
X_data.head()

,nivel_ingles_candidato,nivel_espanhol_candidato,mediana_teste_ingles_candidato,mediana_teste_espanhol_candidato,mediana_teste_logica_candidato,mediana_teste_outros_candidato
0,4.0,0.0,7.00,0.00,7.335,7.0
1,4.0,3.0,8.00,7.50,6.670,7.0
2,3.0,0.0,4.75,6.75,7.340,7.4
3,4.0,1.0,8.00,0.00,7.500,8.5
4,1.0,0.0,3.01,3.25,3.330,4.0

In [61]:
import joblib
modelo = joblib.load("modelo.pkl")

In [62]:
#Realizando as previs√µes com o modelo treinado
previsoes = modelo.predict(X_data)

#Salvando o arquivoo 
joblib.dump(previsoes, "resultado.pkl")
print("Previs√µes Geradas com Sucesso!")

Previs√µes Geradas com Sucesso!